@import url('https://fonts.googleapis.com/css?family=Oswald:500');

$app-background-color: #141414;
$app-horizontal-margin: 65px;
$app-title-font: 'Oswald', serif;
$app-normal-font: 'Helvetica Neue', Helvetica, Arial, sans-serif;

body {
  background: $app-background-color;
  color: #ffffff;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.App {
  font-family: $app-normal-font;
  font-size: 16px;
  
  h2, .TitleList .Title {
    font-size: 22px;
    font-weight: normal;
    line-height: 1.4;
    margin-bottom: .5em;
  }

  p {
    line-height: 1.6em;
    margin-bottom: 1em;
  }

  .Header {
    background: linear-gradient(to bottom, rgba(0,0,0,.6) 0%, transparent 100%);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    box-sizing: border-box;
    z-index: 5;

    &.fixed {
      .content {
        background-color: rgba(0,0,0,0.8);
      }
    }

    .content {
      background-color: transparent;
      transition: background-color .7s ease-in-out;
      display: flex;
      align-items: center;
      padding: 20px $app-horizontal-margin;
      flex-direction: row;

      .logo {
        cursor: pointer;
        color: #ce1616;
        text-transform: uppercase;
        font-size: 32px;
        font-weight: 500;
        font-family: $app-title-font;
        letter-spacing: -1.2px;
      }

      .menu {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-weight: 300;
        font-size: .9rem;
        list-style: none;
        margin-left: 18px;

        li {
          margin-left: 24px;
          opacity: .8;
          cursor: pointer;

          &.selected {
            font-weight: 400;
            opacity: 1;
          }

          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }

  .UserProfile {
    margin-left: auto;

    .User {
      display: flex;

      &:hover {
        cursor: pointer;
      }

      .image {
        border-radius: 44px;
        margin-left: 10px;
        overflow: hidden;
        width: 28px;
        height: 28px;
        box-sizing: border-box;
        transition: border .125s ease;

        img {
          width: 100%;
          display: block;
        }
      }

      .name {
        align-items: center;
        display: flex;
        font-size: 16px;
        font-weight: 300;
      }
    }
  }

  .Hero {
    width: 100%;
    position: relative;
    background-size: cover;
    min-height: 512px;

    .content {
      position: relative;
      z-index: 4;
      width: 500px;
      left: 65px;
      top: 175px;

      .logo {
        max-width: 250px;
        display: block;
        position: relative;
        margin-bottom: .5em;
      }

      p {
        width: 100%;
        font-size: 1.2em;
        font-weight: 300;
      }

      .button-container {
        display: flex;
        width: 400px;
        margin-top: 18px;

        .Button:first-child {
          margin-right: 10px;
        }
      }
    }

    .overlay {
      background: linear-gradient(to bottom, $app-background-color 0%, rgba(34, 31, 31, 0.116) 100%);
      height: 100%;
      position: absolute;
      z-index: 3;
      top: 0;
      left: 0;
      width: 100%;
      transform: rotate(180deg);
    }
  }
  
  .Button {
    display: flex;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
    background-color: rgba(51, 51, 51, .5);
    border: 0;
    padding: 10px 42px;
    border-radius: 4px;
    box-shadow: none;
    font-size: 1.1rem;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    outline: 0;
  
    &:hover {
      outline: 0;
      background-color: #e6e6e6;
      color: #000;

      .icon {
        path {
          fill: #000;
        }
      }
    }

    .icon {
      margin-left: -4px;
      margin-right: 6px;

      path {
        fill: white;
      }
    }
  }

  
  .TitleList {
    padding: 10px $app-horizontal-margin;
    box-sizing: border-box;
    transition: opacity 3s ease;
    position: relative;
    z-index: 4;
    
    .titles-slider {
      margin: 20px 0;
      width: 100%;
      box-sizing: border-box;
      position: relative;
    }
  }

  .Item {
    display: inline-block;
    position: relative;
    cursor: pointer;
    transition: transform .3s ease-in-out;
    
    z-index: 20;
    width: 25%;

    &:hover {
      z-index: 21;
      // transform: scale(1.2);
      
      .ItemContainer {
        box-shadow: -1px 4px 20px 3px #00000094;
      }
    }
    
    &:last-child {
      margin-right: 0;
    }

    .ItemContainer {
      background-color: #000000;
      background-position: center;
      height: 13vw;
      background-repeat: no-repeat;
      background-size: cover;
      overflow: hidden;
      margin: 0 2px;
      position: relative;

      .overlay {
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.75) 20%, transparent 100%);
        padding: 20px;
        position: relative;
        height: 100%;
        pointer-events: none;
        opacity: 0;
        transition: opacity .125s ease;
        box-sizing: border-box;
        
        .title {
          font-size: 22px;
          font-weight: 400;
        }

        .rating {
          font-size: 14px;
        }

        .plot {
          font-size: 14px;
          margin-top: 100px;
          font-weight: 300;
          line-height: 1.6;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .ListToggle {
          position: absolute;
          bottom: 12px;
          right: 12px;
        }
      }
    }

    &:hover {
      .overlay {
        opacity: 1;
        pointer-events: all;
      }
    }
  }

  .ListToggle {
    border: 2px solid rgba(255, 255, 255, 0.2);
    width: 32px;
    height: 32px;
    font-size: 16px;
    border-radius: 32px;
    overflow: hidden;
    cursor: pointer;

    &:hover {
      border: 2px solid #ffffff;
      div {
        top: -32px;
      }
    }

    > div {
      position: absolute;
      top: 0;
      left: 0;
      height: 64px;
      width: 32px;
      transition: .125s ease;
    }

    div svg path {
      fill: #ffffff;
    }
  }
  
  .ListToggle[data-toggled="true"] {
    background: #00d1ca;
    border: 2px solid #00d1ca;

    div {
      top: -32px;
    }
  }

  .Loader {
    display: flex;
    align-items: center;
    align-content: center;
    margin: 0 auto 1em;

    svg path,
    svg rect{
      fill: #00d1ca;
    }
  }
}
